/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main 
{
  margin-top: 38px;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.nav
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 9999;
}
ul, ol
{
  list-style: none;
}

.nav li a
{
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 92px;
  display: block;
}
.nav li a:hover
{
  background-color: #434343;
}

.nav > li
{
  float: left;
  padding-left: 12%;
}

.nav li ul
{
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul
{
  display: block;
}

.nav li ul li
{
  position: relative;
}

.nav li ul li ul
{
  right: -140px;
  top: 0px;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.sliderPrime
{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4e9cd;
}
.slider
{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slides
{
  width: 500%;
  height: 100%;
  display: flex;
}
.slides input
{
  display: none;
}
.slide
{
  width: 20%;
  transition: 2s;
}
.slide img
{
  width: 100%;
  height: 100%;
}
.nav-manual
{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn
{
  border: 10px solid #d9eaec;
  padding: 0px;
  cursor: pointer;
  transition: 1s;
  border-radius: 30px;
}
.manual-btn:not(:last-child)
{
  margin-right: 100px;
}
.manual-btn:hover
{
  background-color: #e5e5e5;
}
#radio1:checked ~ .first
{
  margin-left: 0;
}
#radio2:checked ~ .first
{
  margin-left: -20%;
}
#radio3:checked ~ .first
{
  margin-left: -40%;
}
#radio4:checked ~ .first
{
  margin-left: -60%;
}
#radio4:checked ~ .first
{
  margin-left: -80%;
}
.nav-auto
{
  position: absolute;
  display: flex;
  width: 1000px;
  justify-content: center;
  margin-top: 460px;
}
.nav-auto div
{
  border: 0px solid #e5e5e5;
  padding: 0px;
  border-radius: 0px;
  transition: 1s;
}
.nav-auto div:not(:last-child)
{
  margin-right: 0px;
}
#radio1:checked ~ .nav-auto .auto-btn1
{
  background-color: #e5e5e5;
}
#radio2:checked ~ .nav-auto .auto-btn2
{
  background-color: #e5e5e5;
}
#radio3:checked ~ .nav-auto .auto-btn3
{
  background-color: #e5e5e5;
}
#radio4:checked ~ .nav-auto .auto-btn4
{
  background-color: #e5e5e5;
}
#radio4:checked ~ .nav-auto .auto-btn5
{
  background-color: #e5e5e5;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.image-section
{
  display: block;
  display: flex;
  background-color: #d9eaec;
  padding: 50px;
  padding-right: 0px;
  padding-left: 0px;
}
.galeria
{
  font-family: 'open sans';
}
.galeria h1
{
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
}
.contenedor-imagenes
{
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}
.contenedor-imagenes .imagen
{
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,.75);
}
.imagen img
{
  width: 100%;
  height: 100%;
}
.overlay
{
  position: absolute;
  bottom: 0;
  left:0;
  background: rgba(0,118,192,0.781);
  width: 100%;
  height: 0;
  transition: .5s ease;
  overflow: hidden;
}
.overlay h2
{ 
  color:white;
  font-weight: 300%;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.imagen:hover .overlay
{
  height: 100%;
  cursor: pointer;
}
@media  screen and (max-width: 1000px)        /*MODIFICAR I POSAR-LO AL FINAL*/
{
  .contenedor-imagenes
  {
    width: 95%;
    padding: 30px;
  }
}

@media screen and( max-width:700px)         /*MODIFICAR I POSAR-LO AL FINAL*/
{
  .contenedor-imagenes
  {
    width: 90%;
    padding: 30px;
  }
  .contenedor-imagenes .imagen
  {
    width: 48%;
    padding: 30px;
  }
  
}

@media screen and( max-width:450px)        /*MODIFICAR I POSAR-LO AL FINAL*/
{
  h1
  {
    font-size: 22px;
  }
  .contenedor-imagenes
  {
    width: 98%;
    padding: 30px;
  }
  .contenedor-imagenes .imagen
  {
    width: 80%;
    padding: 30px;
  }  
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.contactes
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9abca7;
}
.contenedor 
{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

#imatge-institut 
{
  max-width: 50%;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,.75);
}
.caixa-institut 
{
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin-top: 28px;
  text-align: center;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.Part-0
{
  background-color:#5C7E69;
}

.Part-1
{
  padding-block-start: 2.5%;
}
.Part-2
{
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding-top:  4.84%;
  padding-left: 1%;
}

.Part-3
{
  padding-top: 4.56%;
}

#imatge-part-1-1
{
  padding-left: 80%;
  box-shadow: -23px 8px 18px 22px rgb(0, 0, 0);
  background-color: #d9eaec;
}
.caixa-1
{
  text-align: justify;
  position: absolute;
  padding-inline: 2%;
  padding-block-start: 4%;
  width: 79%;
}

#imatge-part-2-1
{
  padding-right: 81.8%;
  box-shadow: 23px 8px 18px 22px rgb(0, 0, 0);
  background-color: #d9eaec;
}
.caixa-2
{
  text-align: justify;
  line-height: 1.5;
  position: absolute;
  padding-block-end: 4%;
  padding-left: 37%;
  width: 95%;
}

#imatge-part-3-1
{
  padding-left: 80%;
  box-shadow: -23px 8px 18px 22px rgb(0, 0, 0);
  background-color: #d9eaec;
}
.caixa-3
{
  text-align: justify;
  position: absolute;
  padding-inline: 2%;
  padding-block-start: 4%;
  width: 79%;
}

/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.web-0
{
  background: linear-gradient(to bottom,#57f59a,#984eb7);

}
.web-1
{
  padding-top: 4%;
  width: 100%;
  height: 100vh;
  display: flex;
}
.web-2
{
  padding-top: 6%;
  width: 100%;
  height: 120vh;
  display: flex;
}

.idees
{
  text-align: justify;
  width: 100%;
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 5%;
  position: relative;
}
#imatge-idees
{
  padding-left: 10%;
  position: absolute;
  width: 70%;
}

.plantejament
{
  text-align: justify;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  position: relative;
}
#imatge-plantejament
{
  padding-left: 10%;
  position: absolute;
  width: 70%;
}

.prova-i-error
{
  text-align: justify;
  width: 100%;
  padding-left: 5%;
  padding-top: 4%;
  padding-right: 5%;
  position: relative;
}
#imatge-prova-i-error
{
  padding-left: 10%;
  position: absolute;
  width: 70%;
}

.perfeccionar
{
  text-align: justify;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
  position: relative;
}
#imatge-perfeccionar
{
  padding-left: 10%;
  position: absolute;
  width: 70%;
}

.cap-idees
{
  position: absolute;
  padding-left: 22%;
}
.cap-plantejament
{
  position: absolute;
  padding-left: 70%;
}
.cap-prova-i-error
{
  position: absolute;
  padding-left: 22%;
}
.cap-perfeccionar
{
  position: absolute;
  padding-left: 70%;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.exercici-1
{
  width: 100%;
  height: 290vh;
  padding-top: 4%;
  padding-right: 1%;
  padding-left: 1%;
  padding-block-end: 1%;
  background: linear-gradient(to bottom,#00E1D9,#5E001F);
}
/*-----*/
.ex1
{
  position: absolute;
  padding-top: 3%;
}
.ex2
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex3
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex5
{
  position: absolute;
  padding-top: 3%;
}
.ex6
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex7
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex8
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex9
{
  position: absolute;
  padding-top: 3%;
}
.ex10
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex11
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex12
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex13
{
  position: absolute;
  padding-top: 3%;
}
.ex14
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex15
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex16
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex17
{
  position: absolute;
  padding-top: 3%;
}
.ex18
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex19
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex20
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex21
{
  position: absolute;
  padding-top: 3%;
}
.ex22
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex23
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex24
{
  position: absolute;
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.persona1-1
{
  font-size: 200%;        
  padding-right: 20%;
  text-align: center;
}
.persona2-1
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona3-1
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona4-1
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona5-1
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona6-1
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona7-1
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona8-1
{
  font-size: 200%;         
  text-align: center;
}
/*-----*/
.persona9-1
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona10-1
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona11-1
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona12-1
{
  font-size: 200%;            
  text-align: center;
}
/*-----*/
.persona13-1
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona14-1
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona15-1
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona16-1
{
  font-size: 200%;           
  text-align: center;
}
/*-----*/
.persona17-1
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona18-1
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona19-1
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona20-1
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona21-1
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona22-1
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona23-1
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona24-1
{
  font-size: 200%;       
  text-align: center;
}
/*-----*/
#imat-ex-1
{
  width: 80%;
  height: 34vh;
}
#imat-ex-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-6
{
  width: 80%;
  height: 34vh;
}
#imat-ex-7
{
  width: 80%;
  height: 34vh;
}
#imat-ex-8
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-9
{
  width: 80%;
  height: 34vh;
}
#imat-ex-10
{
  width: 80%;
  height: 34vh;
}
#imat-ex-11
{
  width: 80%;
  height: 34vh;
}
#imat-ex-12
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-13
{
  width: 80%;
  height: 34vh;
}
#imat-ex-14
{
  width: 80%;
  height: 34vh;
}
#imat-ex-15
{
  width: 80%;
  height: 34vh;
}
#imat-ex-16
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-17
{
  width: 80%;
  height: 34vh;
}
#imat-ex-18
{
  width: 80%;
  height: 34vh;
}
#imat-ex-19
{
  width: 80%;
  height: 34vh;
}
#imat-ex-20
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-21
{
  width: 80%;
  height: 34vh;
}
#imat-ex-22
{
  width: 80%;
  height: 34vh;
}
#imat-ex-23
{
  width: 80%;
  height: 34vh;
}
#imat-ex-24
{
  width: 100%;
  height: 34vh;
}
/*-----*/
.exercici-2
{
  width: 100%;
  height: 290vh;
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  padding-block-end: 1%;
  background: linear-gradient(to bottom,#5E001F,#00E1D9);
}
/*-----*/
.ex1-2
{
  position: absolute;
  padding-top: 3%;
}
.ex2-2
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex3-2
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex4-2
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex5-2
{
  position: absolute;
  padding-top: 3%;
}
.ex6-2
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex7-2
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex8-2
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex9-2
{
  position: absolute;
  padding-top: 3%;
}
.ex10-2
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex11-2
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex12-2
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex13-2
{
  position: absolute;
  padding-top: 3%;
}
.ex14-2
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex15-2
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex16-2
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex17-2
{
  position: absolute;
  padding-top: 3%;
}
.ex18-2
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex19-2
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex20-2
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex21-2
{
  position: absolute;
  padding-top: 3%;
}
.ex22-2
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex23-2
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex24-2
{
  position: absolute;
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.persona1-1-2
{
  font-size: 200%;        
  padding-right: 20%;
  text-align: center;
}
.persona2-1-2
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona3-1-2
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona4-1-2
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona5-1-2
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona6-1-2
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona7-1-2
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona8-1-2
{
  font-size: 200%;         
  text-align: center;
}
/*-----*/
.persona9-1-2
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona10-1-2
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona11-1-2
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona12-1-2
{
  font-size: 200%;            
  text-align: center;
}
/*-----*/
.persona13-1-2
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona14-1-2
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona15-1-2
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona16-1-2
{
  font-size: 200%;           
  text-align: center;
}
/*-----*/
.persona17-1-2
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona18-1-2
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona19-1-2
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona20-1-2
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona21-1-2
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona22-1-2
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona23-1-2
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona24-1-2
{
  font-size: 200%;       
  text-align: center;
}
/*-----*/
#imat-ex-1-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-2-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-3-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-4-2
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-5-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-6-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-7-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-8-2
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-9-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-10-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-11-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-12-2
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-13-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-14-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-15-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-16-2
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-17-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-18-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-19-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-20-2
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-21-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-22-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-23-2
{
  width: 80%;
  height: 34vh;
}
#imat-ex-24-2
{
  width: 100%;
  height: 34vh;
}
/*-----*/
.exercici-3
{
  width: 100%;
  height: 290vh;
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  padding-block-end: 1%;
  background: linear-gradient(to bottom,#00E1D9,#5E001F);

}
/*-----*/
.ex1-3
{
  position: absolute;
  padding-top: 3%;
}
.ex2-3
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex3-3
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex4-3
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex5-3
{
  position: absolute;
  padding-top: 3%;
}
.ex6-3
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex7-3
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex8-3
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex9-3
{
  position: absolute;
  padding-top: 3%;
}
.ex10-3
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex11-3
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex12-3
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex13-3
{
  position: absolute;
  padding-top: 3%;
}
.ex14-3
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex15-3
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex16-3
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex17-3
{
  position: absolute;
  padding-top: 3%;
}
.ex18-3
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex19-3
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex20-3
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex21-3
{
  position: absolute;
  padding-top: 3%;
}
.ex22-3
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex23-3
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex24-3
{
  position: absolute;
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.persona1-1-3
{
  font-size: 200%;        
  padding-right: 20%;
  text-align: center;
}
.persona2-1-3
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona3-1-3
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona4-1-3
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona5-1-3
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona6-1-3
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona7-1-3
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona8-1-3
{
  font-size: 200%;         
  text-align: center;
}
/*-----*/
.persona9-1-3
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona10-1-3
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona11-1-3
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona12-1-3
{
  font-size: 200%;            
  text-align: center;
}
/*-----*/
.persona13-1-3
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona14-1-3
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona15-1-3
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona16-1-3
{
  font-size: 200%;           
  text-align: center;
}
/*-----*/
.persona17-1-3
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona18-1-3
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona19-1-3
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona20-1-3
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona21-1-3
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona22-1-3
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona23-1-3
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona24-1-3
{
  font-size: 200%;       
  text-align: center;
}
/*-----*/
#imat-ex-1-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-2-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-3-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-4-3
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-5-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-6-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-7-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-8-3
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-9-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-10-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-11-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-12-3
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-13-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-14-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-15-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-16-3
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-17-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-18-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-19-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-20-3
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-21-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-22-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-23-3
{
  width: 80%;
  height: 34vh;
}
#imat-ex-24-3
{
  width: 100%;
  height: 34vh;
}
/*-----*/
.exercici-4
{
  width: 100%;
  height: 290vh;
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  padding-block-end: 1%;
  background: linear-gradient(to bottom,#5E001F,#00E1D9);

}
/*-----*/
.ex1-4
{
  position: absolute;
  padding-top: 3%;
}
.ex2-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex3-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex4-4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex5-4
{
  position: absolute;
  padding-top: 3%;
}
.ex6-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex7-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex8-4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex9-4
{
  position: absolute;
  padding-top: 3%;
}
.ex10-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex11-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex12-4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex13-4
{
  position: absolute;
  padding-top: 3%;
}
.ex14-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex15-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex16-4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex17-4
{
  position: absolute;
  padding-top: 3%;
}
.ex18-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex19-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex20-4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex21-4
{
  position: absolute;
  padding-top: 3%;
}
.ex22-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex23-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex24-4
{
  position: absolute;
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.persona1-1-4
{
  font-size: 200%;        
  padding-right: 20%;
  text-align: center;
}
.persona2-1-4
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona3-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona4-1-4
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona5-1-4
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona6-1-4
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona7-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona8-1-4
{
  font-size: 200%;         
  text-align: center;
}
/*-----*/
.persona9-1-4
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona10-1-4
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona11-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona12-1-4
{
  font-size: 200%;            
  text-align: center;
}
/*-----*/
.persona13-1-4
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona14-1-4
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona15-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona16-1-4
{
  font-size: 200%;           
  text-align: center;
}
/*-----*/
.persona17-1-4
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona18-1-4
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona19-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona20-1-4
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona21-1-4
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona22-1-4
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona23-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona24-1-4
{
  font-size: 200%;       
  text-align: center;
}
/*-----*/
#imat-ex-1-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-2-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-3-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-4-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-5-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-6-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-7-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-8-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-9-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-10-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-11-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-12-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-13-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-14-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-15-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-16-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-17-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-18-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-19-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-20-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-21-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-22-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-23-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-24-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
.exercici-5-4
{
  width: 100%;
  height: 290vh;
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  padding-block-end: 1%;
}
/*-----*/
.ex1-4
{
  position: absolute;
  padding-top: 3%;
}
.ex2-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex3-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex4-4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex5-4
{
  position: absolute;
  padding-top: 3%;
}
.ex6-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex7-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex8-4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex9-4
{
  position: absolute;
  padding-top: 3%;
}
.ex10-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex11-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex12-4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex13-4
{
  position: absolute;
  padding-top: 3%;
}
.ex14-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex15-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex16-4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex17-4
{
  position: absolute;
  padding-top: 3%;
}
.ex18-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex19-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex20-4
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex21-4
{
  position: absolute;
  padding-top: 3%;
}
.ex22-4
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex23-4
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex24-4
{
  position: absolute;
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.persona1-1-4
{
  font-size: 200%;        
  padding-right: 20%;
  text-align: center;
}
.persona2-1-4
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona3-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona4-1-4
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona5-1-4
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona6-1-4
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona7-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona8-1-4
{
  font-size: 200%;         
  text-align: center;
}
/*-----*/
.persona9-1-4
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona10-1-4
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona11-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona12-1-4
{
  font-size: 200%;            
  text-align: center;
}
/*-----*/
.persona13-1-4
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona14-1-4
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona15-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona16-1-4
{
  font-size: 200%;           
  text-align: center;
}
/*-----*/
.persona17-1-4
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona18-1-4
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona19-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona20-1-4
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona21-1-4
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona22-1-4
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona23-1-4
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona24-1-4
{
  font-size: 200%;       
  text-align: center;
}
/*-----*/
#imat-ex-1-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-2-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-3-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-4-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-5-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-6-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-7-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-8-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-9-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-10-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-11-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-12-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-13-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-14-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-15-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-16-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-17-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-18-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-19-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-20-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-21-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-22-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-23-4
{
  width: 80%;
  height: 34vh;
}
#imat-ex-24-4
{
  width: 100%;
  height: 34vh;
}
/*-----*/
.exercici-5
{
  width: 100%;
  height: 300vh;
  padding-top: 4%;
  padding-right: 1%;
  padding-left: 1%;
  padding-block-end: 1%;
  background: linear-gradient(to bottom,#00E1D9,#5E001F);
}
/*-----*/
.ex1-5
{
  position: absolute;
  padding-top: 3%;
}
.ex2-5
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex3-5
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex4-5
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex5-5
{
  position: absolute;
  padding-top: 3%;
}
.ex6-5
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex7-5
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex8-5
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex9-5
{
  position: absolute;
  padding-top: 3%;
}
.ex10-5
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex11-5
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex12-5
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex13-5
{
  position: absolute;
  padding-top: 3%;
}
.ex14-5
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex15-5
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex16-5
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex17-5
{
  position: absolute;
  padding-top: 3%;
}
.ex18-5
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex19-5
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex20-5
{
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.ex21-5
{
  position: absolute;
  padding-top: 3%;
}
.ex22-5
{
  position: absolute;
  padding-inline-start: 27%;
  padding-top: 3%;
}
.ex23-5
{
  position: absolute;
  padding-inline-start: 53%;
  padding-top: 3%;
}
.ex24-5
{
  position: absolute;
  padding-inline-start: 81.3%;
  padding-top: 3%;
}
/*-----*/
.persona1-1-5
{
  font-size: 200%;        
  padding-right: 20%;
  text-align: center;
}
.persona2-1-5
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona3-1-5
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona4-1-5
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona5-1-5
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona6-1-5
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona7-1-5
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona8-1-5
{
  font-size: 200%;         
  text-align: center;
}
/*-----*/
.persona9-1-5
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona10-1-5
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona11-1-5
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona12-1-5
{
  font-size: 200%;            
  text-align: center;
}
/*-----*/
.persona13-1-5
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona14-1-5
{
  padding-right: 20%;          
  text-align: center;
  font-size: 200%;
}
.persona15-1-5
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona16-1-5
{
  font-size: 200%;           
  text-align: center;
}
/*-----*/
.persona17-1-5
{
  font-size: 200%;           
  padding-right: 20%;
  text-align: center;
}
.persona18-1-5
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona19-1-5
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona20-1-5
{
  font-size: 200%;          
  text-align: center;
}
/*-----*/
.persona21-1-5
{
  font-size: 200%;            
  padding-right: 20%;
  text-align: center;
}
.persona22-1-5
{
  padding-right: 20%;           
  text-align: center;
  font-size: 200%;
}
.persona23-1-5
{
  padding-right: 20%;
  text-align: center;
  font-size: 200%;
}
.persona24-1-5
{
  font-size: 200%;       
  text-align: center;
}
/*-----*/
#imat-ex-1-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-2-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-3-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-4-5
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-5-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-6-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-7-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-8-5
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-9-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-10-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-11-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-12-5
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-13-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-14-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-15-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-16-5
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-17-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-18-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-19-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-20-5
{
  width: 100%;
  height: 34vh;
}
/*-----*/
#imat-ex-21-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-22-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-23-5
{
  width: 80%;
  height: 34vh;
}
#imat-ex-24-5
{
  width: 100%;
  height: 34vh;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.VIDEOJOCS
{
  padding-top: 5%;
  padding-block-end: 5%;
  padding-left: 1%;
  padding-right: 1%;
  background: linear-gradient(to bottom,#AFF2F2,#484197);}

.VIDEOJOC-CAP-1
{
  text-align: center;
  font-size: 200%;
  padding-top: 1%;
  padding-block-end: 1%;
}
.VIDEOJOC-CAP-2
{
  text-align: center;
  font-size: 200%;
  padding-top: 1%;
  padding-block-end: 1%;
}
.VIDEOJOC-CAP-3
{
  text-align: center;
  font-size: 200%;
  padding-top: 1%;
  padding-block-end: 1%;
}
.VIDEOJOC-CAP-4
{
  text-align: center;
  font-size: 200%;
  padding-top: 1%;
  padding-block-end: 1%;
}
.VIDEOJOC-CAP-5
{
  text-align: center;
  font-size: 200%;
  padding-top: 1%;
  padding-block-end: 1%;
}

.VIDEOJOC-1
{
  position: absolute;
  text-align: justify;
  width: 66%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}
.VIDEOJOC-2
{
  position: absolute;
  text-align: justify;
  width: 66%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}
.VIDEOJOC-3
{
  position: absolute;
  text-align: justify;
  width: 66%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}
.VIDEOJOC-4
{
  position: absolute;
  text-align: justify;
  width: 66%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}
.VIDEOJOC-5
{
  position: absolute;
  text-align: justify;
  width: 66%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}

#JOC-1
{
  padding-left: 67%;
  width: 97%;
}
#JOC-2
{
  padding-left: 67%;
  width: 97%;
}
#JOC-3
{
  padding-left: 67%;
  width: 97%;
}
#JOC-4
{
  padding-left: 67%;
  width: 97%;
}
#JOC-5
{
  padding-left: 67%;
  width: 97%;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.title
{
  text-align: center;
  font-size: 40px;
  color:#5775;
  margin-top: 100px;
  font-weight: 100;
}
.container
{
  width: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.container .card
{
  width: 250px;
  height: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container .card:hover
{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.2);

}
.container .card img
{
  width: 330px;
  height: 220px;
}
.container .card h1
{
  font-weight: 600;
}
.container .card p
{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.container .card a 
{
  font-weight: 500;
  text-decoration: none;
  color:#3498db;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/